@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
	#throbber-restored {
		list-style-image: url("chrome://throbber-restored/content/notloading_16.png");
	}

	#throbber-restored[loading] {
		list-style-image: url("chrome://throbber-restored/content/loading_16.png");
	}

	toolbar[id="nav-bar"] * #throbber-restored[cui-areatype="toolbar"] > image {
		margin: 6px;
	}

	toolbar[id="TabsToolbar"] > #throbber-restored[cui-areatype="toolbar"] {
		padding: 3px !important;
	}

	toolbar:not([id="TabsToolbar"]) > #throbber-restored {
		margin: 0px 6px 0px 6px !important;
	}

  	/*start - support for classic theme restorer addon*/
	toolbar[id="ctr_addon-bar"] > #throbber-restored,
	toolbar[id="ctraddon_addon-bar"] > #throbber-restored {
		margin: 0px 3px 0px 3px !important;
	}
	/*end - support for classic theme restorer addon*/
	
	#throbber-restored[cui-areatype="menu-panel"] > image {
		width: 32px !important;
		height: 32px !important;
	}
}
